body {
  max-width: 700px;
  margin: 20px auto 70px auto;
}

.muted {
  color: gray;
}

dl {
  display: grid;
  grid-template-columns: fit-content(30%) 1fr;
}

form {
  label {
    margin: .5rem 0;
    display: grid;
    grid-template-columns: fit-content(30%) 1fr;
  }

  label div {
    width: 100px;
  }

  input {
    width: fit-content;
  }

  input[type=text], select {
    width: 300px;
  }

  textarea {
    min-height: 140px;
    resize: vertical;
  }
}

.work-item {
  margin: 10px 0;
  padding: 10px;
}

.work-item-header {
  display: flex;
  justify-content: space-between;
}

.work-item-header h3 {
  margin: 0;
}

.work-item-header button {
  margin: 0 5px;
}

.invoice-table {
  width: 500px;

  th, td {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  tr {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
  }
}

