@page {
  :footer { display: none; }
  :header { display: none; }
  margin: 0;
  size: auto;
}

@media print {
  height: fit-content;
}

body {
  font-family: Times;
  width: 8.5in;
  margin: .5in auto;
  print-color-adjust: exact;
}

h1 {
  float: right;
  margin: 0;
  font-size: 60px;
}

section.profile, section.late-fee-notice{
  margin: 20px 0;
}

section.late-fee-notice {
  border: 2px solid black;
  border-style: solid none;
  padding: .5rem 0;
  width: fit-content;
}

section.late-fee-notice h3 {
  margin: 0 0 .5rem 0;
}

.main-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.invoice {
  text-align: right;
  dl { display: grid; grid-template-columns: 1fr 1fr; }
  dt { font-weight: bold; }
}

table {
  border-collapse: collapse;
  width: 100%;


  th, td {
    padding: 1rem;
    border: 1px solid gray;
  }

  th {
    background-color: lightgray;
    border-bottom: 2px solid gray;
  }

  .total { font-weight: bold; }

  tr.emphasis { background-color: lightgray; }

  tr.divider {
    border-top: 2px solid gray;
  }

  td.hidden {
    border: none;
    background-color: white;
  }

  .description {
    min-width: 500px;
  }

  .item-title {
    font-weight: bold;
    margin: 5px 0;
  }
}
