body {
  font-family: Times;
  width: 8.5in;
  height: 11in;
  margin: 0 auto;
  print-color-adjust: exact;
}

h1 {
  float: right;
  margin: 0;
  font-size: 60px;
}

section.profile {
  margin: 40px 0;
}

.main-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.invoice {
  text-align: right;
  dl { display: grid; grid-template-columns: 1fr 1fr; }
  dt { font-weight: bold; }
}

table {
  border-collapse: collapse;
  width: 100%;


  th, td {
    padding: 1rem;
    border: 1px solid gray;
  }

  th {
    background-color: lightgray;
    border-bottom: 2px solid gray;
  }

  .total { font-weight: bold; }

  tr.emphasis { background-color: lightgray; }

  tr.divider {
    border-top: 3px solid gray;
  }

  td.hidden {
    border: none;
    background-color: white;
  }

  .description {
    min-width: 500px;
  }

  .item-title {
    font-weight: bold;
  }
}
